/* Estilos para el formulario de sugerencias */
.formulario-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .formulario-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formulario-container form {
    display: flex;
    flex-direction: column;
  }
  
  .formulario-container label {
    margin-bottom: 10px;
  }
  
  .formulario-container input[type="text"],
  .formulario-container input[type="email"],
  .formulario-container textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario-container button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  